<form name="composeForm">
    <textarea  ng-attr-placeholder="{{mc.composerPlaceholderText || 'Write your message here.'}}"
            ng-model="mc.rawmessage"
            name="message"
            vo-key-up
            ng-keyup="mc._onKeyUp($event)"
            on-enter-key="mc._send()"
            options="mc.options"
            ng-required="true"
            ng-keydown="mc._onKeyDown($event)"
            ng-attr-id="message-composer_{{mc.foreignobjectid}}"></textarea>
    <button ng-click="mc._send()" tabindex="-1"
        ng-disabled="composeForm.$invalid">{{mc.sendButtonText || 'Send'}}</button>
</form>
